:root {
  --fon-family-base: "Roboto", sans-serif;
  --fon-family-titles: "Verdana", "Geneva", sans-serif;
  --font-size-base: 16px;
  --font-line-base: 1.5;
  --font-base:
    var(--font-size-base) / var(--font-line-base)
    var(--fon-family-base);
  --font-size-medium: 20px;
  --font-line-medium: 1.5;
  --font-medium:
    var(--font-size-medium) / var(--font-line-medium)
    var(--fon-family-base);
  --font-size-large: 24px;
  --font-line-large: 1.8;
  --font-large:
    var(--font-size-large) / var(--font-line-large)
    var(--fon-family-base);
  --header-height: 6rem;
}
