:root {
  --fon-family-base: "Roboto", sans-serif;
  --fon-family-titles: "Verdana", "Geneva", sans-serif;
  --font-size-base: 16px;
  --font-line-base: 1.5;
  --font-base:
    var(--font-size-base) / var(--font-line-base)
    var(--fon-family-base);
  --font-size-medium: 20px;
  --font-line-medium: 1.5;
  --font-medium:
    var(--font-size-medium) / var(--font-line-medium)
    var(--fon-family-base);
  --font-size-large: 24px;
  --font-line-large: 1.8;
  --font-large:
    var(--font-size-large) / var(--font-line-large)
    var(--fon-family-titles);
  --font-small:
    var(--font-size-small) / var(--font-line-small)
    var(--fon-family-base);
  --font-size-small: 14px;
  --font-line-small: 1.2;
  --header-height: 6rem;
  --header-height-mobile: 4rem;
  --modal-z-index: 10;
  --overlay-bg-color: rgb(0 0 0 / 50%);
  --reload-button-bg-color: #d1b4e2;
  --reload-button-text-color: #000;
  --from-extra-large-tolarge: 1920px;
  --from-large-to-medium: 1024px;
  --from-medium-to-small: 768px;
  --from-small-to-extra-small: 480px;
}
