.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font: var(--font-large);
  font-weight: 800;
}

.text {
  font: var(--font-base);
}

.common {
  .title,
  .text {
    color: var(--primary-color);
  }
}

.error {
  .title,
  .text {
    color: var(--error-text-color);
  }
}
