.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font: var(--font-large);
  font-weight: 800;
}

.text {
  font: var(--font-base);
}

.bold {
  font-weight: 600;
}

.common {
  .title,
  .text {
    color: var(--primary-color);
  }
}

.error {
  .title,
  .text {
    color: var(--error-text-color);
  }
}

.description {
  .title,
  .text {
    color: var(--primary-color);
    opacity: 0.7;
  }
}

.additional {
  .title,
  .text {
    color: var(--primary-color);
    opacity: 0.5;
  }

  .text {
    font: var(--font-small);
  }

  .title {
    font: var(--font-base);
  }
}
