.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 20%;
}

.avatar {
  width: 50px;
  height: 50px;
}

.titles {
  height: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.authorInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.details {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 20px;
}

.iconText {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon {
  height: 20px;
  width: auto;
  fill: var(--primary-color);
}

.share:hover {
  opacity: 0.5;
  cursor: pointer;
}
