.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  max-width: 70%;
  border-radius: 20px;
  padding: 30px;
  transition: transform 0.2s ease-in-out;
  transform: scale(0.8);
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);

  .modalContent {
    transform: scale(1);
  }
}

.isClosing {
  opacity: 0;

  .modalContent {
    transform: scale(0.8);
  }
}
