.button {
  outline: none;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

.common {
  background-color: var(--primary-color);
  color: var(--bg-color);
  font: var(--font-medium);
  padding: 10px 20px;
  border-radius: 15px;
}

.themeSwitcher {
  font: var(--font-medium);
  color: var(--secondary-color);
  background: var(--bg-color);
  padding: 10px 20px;
  border-radius: 15px;
}

.clean {
  color: var(--primary-color);
  background: none;
}

.reload {
  font: var(--font-medium);
  color: var(--reload-button-text-color);
  background: var(--reload-button-bg-color);
  padding: 10px 20px;
  border-radius: 15px;
}

.cancel {
  background-color: var(--error-text-color);
  color: var(--bg-color);
  font: var(--font-medium);
  padding: 10px 20px;
  border-radius: 15px;
}
