.button {
  outline: none;
  border: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.common {
  background-color: var(--primary-color);
  color: var(--bg-color);
  font: var(--font-medium);
  padding: 10px 20px;
  border-radius: 15px;
}

.themeSwitcher {
  font: var(--font-medium);
  color: var(--secondary-color);
  background: var(--bg-color);
  padding: 10px 20px;
  border-radius: 15px;
}

.clean {
  background: none;
}

.reload {
  font: var(--font-medium);
  color: #000;
  background: #d1b4e2;
  padding: 10px 20px;
  border-radius: 15px;
}
