.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 13px;
  align-self: flex-start;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--icon-color);
}

.text {
  animation: itemToShort 2s ease-in-out;
}

.collapsed {
  .item {
    align-self: auto;
    margin-left: 0;
  }

  .text {
    display: none;
    animation: itemToFull 2s ease-in-out;
  }
}

@keyframes itemToShort {
  0% {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: none;
  }

  30% {
    position: initial;
  }

  90% {
    opacity: 1;
    visibility: initial;
    display: none;
  }

  100% {
    display: block;
  }
}

@keyframes itemToFull {
  0% {
    opacity: 1;
    visibility: initial;
    display: block;
  }

  70% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
