.container {
  padding: 30px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  width: 80vw;
  max-width: 1200px;
  border-top: 1px var(--primary-color) solid;
}
