.app_blue_theme {
  --bg-color: #f4f4fb;
  --bg-secondary-color: #d3d3e7;
  --primary-color: #2f3680;
  --secondary-color: #39afea;
  --header-color: #d3d3e7;
  --header-color-inverted: #8f8fb4;
  --input-bg-color: #e7e7f7;
  --input-text-color: #1c1c28;
  --error-text-color: #813037;
  --icon-color: #1f2241;
  --skeleton-shadow: #d3d3e7;
  --skeleton-color: #e7e7f7;
}
