.app_dark_theme {
  --bg-color: #1c1c28;
  --bg-secondary-color: #353542;
  --primary-color: #dadadb;
  --secondary-color: #785eea;
  --header-color: #486c6d;
  --header-color-inverted: #5f9ea0;
  --input-bg-color: #dadadb;
  --input-text-color: #1c1c28;
  --error-text-color: #a52c36;
}
