.app_light_theme {
  --bg-color: #f5f5f5;
  --bg-secondary-color: #fff;
  --bg-secondary-color-transparent: rgba(255 255 255 / 50%);
  --primary-color: #1c1c28;
  --primary-color-transparent: rgba(28 28 40 / 50%);
  --secondary-color: #2f198f;
  --header-color: #5f9ea0;
  --header-color-inverted: #486c6d;
  --input-bg-color: #dadadb;
  --input-text-color: #1c1c28;
  --error-text-color: #a00714;
  --icon-color: #f5f5f5;
  --skeleton-shadow: #c8c8da;
  --skeleton-color: #f5f5f5;
}
