.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  gap: 20px;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  padding: 20px;
  width: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
}
