.container {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 30% 70%;
  gap: 20px;
}

.loaderContainer,
.errorContainer {
  width: 600px;
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
}
