.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.sortingOptions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.orderButton {
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.asc {
  transform: rotate(180deg);
}
