.icon {
  fill: var(--primary-color-transparent);
  height: 20px;
  width: 20px;
}

.active {
  .icon {
    fill: var(--primary-color);
  }

  &:hover {
    opacity: 1;
    pointer-events: none;
  }
}
